*.py[co]
.*.swp
test_key/random_seed
install.out
htmlcov
.coverage
.cache
COVERAGE_ISSUE
.pytest_cache
.teneya.log


# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.test*.sum
generated_settings/**
.hypothesis

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Sphinx
.build
